h1{
    color:red;
}
#home-intro {
 text-align: center;
 border: 3px solid black;


}
#home-intro:hover{
    background-color:burlywood;
}
#p2{
    color:blue;
}
#navbar{
    text-align: center;
    background-color: brown;
    height: 25px;
    padding-top: 5px;
}
#navbar a{
    margin:opx 5 px;
    text-decoration: none;
    color: white;

}